{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}

.header
{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background: salmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;

}
.logo{
    font-size: 25px;
    color: #031540;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
}
